:root{
    --siteColor:#E75E8C;
    --borderColor:#27292A;
}

.bg-full-body{
    background-color:#1F2122; 
}

.border-fbody{
    border-right:none;
}
.border-btn{
    border:1px solid #666666;
}

.border-game {
    border-bottom:.5px solid  var(--borderColor);
}
.border-dowunload {
    border:1px solid  var(--siteColor);
}
.bg-fbody{
    background-color: var(--borderColor);
}
.text-fbody{
    color:#757575;
}
.bg-popular{
    background-color: #1F2022;
}
.fs-7{
    font-size:0.8rem;
}

.fs-8{
    font-size:3rem;
}

.text-site{
    color:var(--siteColor);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color:var(--siteColor);   
}

.navbar-nav li:hover a{
    color:var(--siteColor);  
}
.btn-site{
    background-color: var(--siteColor);
}
.bg-w{
    background-color: #fff !important;
}

.rounded-medium{
    border-radius: 30px;
}

.parent{
    padding-top: 18vh;
}

#Home{
    height:50vh;
    background-image: url('../images/banner-bg.jpg');
    background-size: cover;
}

.home-caption{
    width:75%;
}

/* popular Section */
.popularButton{
    transform: translateX(-50%);
}

/* popular Section */

.btn-download:hover,.btn-library:hover{
    background-color: #fff;
    color:var(--siteColor) !important;
    border-color: #fff;
}

/* Browse Page */


/* Slideshow container */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
/* Browse Page */

@media screen and (min-width:576px) {
    .h6size{
        font-size:1rem
    }
}
@media screen and (min-width:992px){

    .border-fbody{
        border-right:1px solid #27292A
    } 
    .bg-w{
        background-color: transparent !important;
    }
    .parent{
        padding-top: 12vh;
    }

    .home-caption{
        width:50%;
    }
    
}